body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-form {
    text-align: center;
}

.login-form h2 {
    color: #004281; /* Azul IPN */
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-login {
    background-color: #004281; /* Azul IPN */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #00355b; /* Azul IPN oscuro */
}

.input-group input:focus {
    border: 1px solid #004281; /* Azul IPN */
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
